.idea
__pycache__/
.aim/
logs/
bugs/
venv/
wandb/
shaurya_notes.md
pipeline/
AGENTS.md
research_on_activations/
/data
# misc/kaggle/multi_gpu/report/
# misc/kaggle/multi_gpu/plots/
# misc/kaggle/multi_gpu/metrics/
aux_loss_for_entropy/
.vscode/
kaggle_ablations/